<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Drinkers</h1>
   

  </div>
</div>
<br>

<div class="container">
  <h2 class="text-center font-weight-light">Drinkers</h2>
  <p-table [value]="drinkers" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th> Address </th>
        <th> City </th>
        <th> Phone </th>
  
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-drinker>
      <tr>
        <td><a routerLink="/drinkers/{{drinker.name}}">{{ drinker.name }}</a></td>
        <td> {{ drinker.address}} </td>
        <td> {{ drinker.city}} </td>
        <td> {{ drinker.phone}} </td>
       
      </tr>
    </ng-template>
  </p-table>
  <br><br>
</div>